.hoverable:hover {
	background-color: black !important;
}

.satisfy {
	font-family: 'Satisfy', cursive;
}

.text-primary {
	color: #000080 !important;
}

.bg-primary {
	background-color: #00006d !important;
}
